*{
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box ; 
}

ul{
    list-style: none
}

.hero-section {
    background: color #29282e;
  padding: 0px 50px;  
}

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .left-side {
    display: flex;
    align-items: center;
}

.header .left-side img {
    width: 130px;
}



.header .social-icons img {
    width: 200px;
}

.header .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .right-side ul {
    display: inline-flex;
}

.header .right-side ul a {
    color: white;
    text-decoration: none;
}

.header .right-side ul li {
    margin-right: 200px;
}